In [87]:
import sys
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv("credit_train.csv\credit_train.csv")
columnNames = pd.Series(df.columns.values) # to check the columns/variables/features present in our data set
# xóa những trường thiếu giá trị
df.dropna(axis=0, how='any', inplace=True)
df = df.drop(['Customer ID'], axis=1)
df.sample(5)

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
80099,9ae2b992-efaf-4ece-bed5-9a68677cd977,Fully Paid,550242.0,Long Term,743.0,3264485.0,< 1 year,Home Mortgage,Debt Consolidation,21464.11,21.7,2.0,11.0,0.0,256272.0,936078.0,0.0,0.0
86881,07fdf57e-10ab-4cab-922b-d4620a3b6e4f,Fully Paid,530684.0,Short Term,745.0,1852405.0,9 years,Home Mortgage,Debt Consolidation,19604.58,17.4,79.0,10.0,0.0,621072.0,1533334.0,0.0,0.0
25990,806243db-91d3-4c56-bb43-0e1a02c38c9f,Charged Off,252868.0,Short Term,727.0,664677.0,< 1 year,Own Home,Other,4713.71,23.1,1.0,8.0,0.0,99598.0,779262.0,0.0,0.0
63562,0e50e11e-48eb-46b6-be2e-c3711ffb08c0,Charged Off,238304.0,Short Term,725.0,841928.0,1 year,Rent,Debt Consolidation,16277.11,17.3,29.0,11.0,0.0,121315.0,212190.0,0.0,0.0
53757,4d42df2e-b455-4f66-ac49-ec98200367cc,Fully Paid,337194.0,Long Term,720.0,1682811.0,10+ years,Home Mortgage,Debt Consolidation,9872.40,14.8,40.0,10.0,1.0,107008.0,400994.0,0.0,1.0

In [88]:
df["Loan Status"].drop_duplicates().tolist()

['Fully Paid', 'Charged Off']

In [89]:
df.dtypes

Loan ID                          object
Loan Status                      object
Current Loan Amount             float64
Term                             object
Credit Score                    float64
Annual Income                   float64
Years in current job             object
Home Ownership                   object
Purpose                          object
Monthly Debt                    float64
Years of Credit History         float64
Months since last delinquent    float64
Number of Open Accounts         float64
Number of Credit Problems       float64
Current Credit Balance          float64
Maximum Open Credit             float64
Bankruptcies                    float64
Tax Liens                       float64
dtype: object

In [90]:
# print(df.iloc[2])
#lấy dong bởi  loan id
df.loc[df['Loan ID'] == '71105335-50b8-4d34-88f2-d3a442cbc190']
# df.loc[df['Color'] == 'Green']

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
12164,71105335-50b8-4d34-88f2-d3a442cbc190,Charged Off,772552.0,Short Term,721.0,2420961.0,1 year,Home Mortgage,Debt Consolidation,43577.26,14.6,60.0,9.0,0.0,533444.0,631554.0,0.0,0.0

In [91]:
# df1 = df.drop(['Loan ID'],axis=1)
df = pd.get_dummies(df.drop(['Loan ID'],axis=1),drop_first=True)

df.dropna(axis=0, how='any', inplace=True)

In [92]:
df.sample(5)

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
4372,515020.0,695.0,1389945.0,19111.72,22.6,9.0,8.0,0.0,510188.0,1038202.0,...,0,0,0,0,0,0,0,0,0,0
78279,98186.0,747.0,800242.0,19812.63,19.4,15.0,13.0,0.0,73435.0,841852.0,...,0,0,0,0,0,0,0,0,0,0
68063,199760.0,734.0,862619.0,22140.32,20.2,24.0,15.0,0.0,75563.0,130988.0,...,0,0,0,0,0,1,0,0,0,0
57894,99999999.0,734.0,1459257.0,17875.96,12.5,68.0,8.0,0.0,123177.0,276386.0,...,0,0,0,0,0,0,0,0,0,0
4669,268224.0,716.0,682594.0,10523.15,11.1,33.0,20.0,0.0,182248.0,413776.0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
df.dtypes

Current Loan Amount               float64
Credit Score                      float64
Annual Income                     float64
Monthly Debt                      float64
Years of Credit History           float64
Months since last delinquent      float64
Number of Open Accounts           float64
Number of Credit Problems         float64
Current Credit Balance            float64
Maximum Open Credit               float64
Bankruptcies                      float64
Tax Liens                         float64
Loan Status_Fully Paid              uint8
Term_Short Term                     uint8
Years in current job_10+ years      uint8
Years in current job_2 years        uint8
Years in current job_3 years        uint8
Years in current job_4 years        uint8
Years in current job_5 years        uint8
Years in current job_6 years        uint8
Years in current job_7 years        uint8
Years in current job_8 years        uint8
Years in current job_9 years        uint8
Years in current job_< 1 year       uint8
Home Ownership_Home Mortgage        uint8
Home Ownership_Own Home             uint8
Home Ownership_Rent                 uint8
Purpose_Buy House                   uint8
Purpose_Buy a Car                   uint8
Purpose_Debt Consolidation          uint8
Purpose_Educational Expenses        uint8
Purpose_Home Improvements           uint8
Purpose_Medical Bills               uint8
Purpose_Other                       uint8
Purpose_Take a Trip                 uint8
Purpose_major_purchase              uint8
Purpose_moving                      uint8
Purpose_other                       uint8
Purpose_renewable_energy            uint8
Purpose_small_business              uint8
Purpose_vacation                    uint8
Purpose_wedding                     uint8
dtype: object

In [94]:
af_1 = df.drop({'Loan Status_Fully Paid'},axis=1)
X_train, X_test,y_train, y_test = train_test_split(af_1,df['Loan Status_Fully Paid'],test_size = 1)
X_train

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
13742,215292.0,710.0,939075.0,21520.35,23.4,26.0,9.0,0.0,220609.0,795762.0,...,0,0,0,0,0,0,0,0,0,0
89802,420112.0,735.0,1872640.0,20755.03,18.6,70.0,9.0,0.0,340974.0,470558.0,...,0,0,0,0,0,0,0,0,0,0
892,107734.0,7290.0,651301.0,3180.60,17.5,17.0,5.0,0.0,65056.0,269038.0,...,0,0,0,1,0,0,0,0,0,0
64476,354222.0,716.0,4110745.0,38024.32,13.0,23.0,20.0,1.0,195681.0,1116214.0,...,0,1,0,0,0,0,0,0,0,0
32537,337326.0,742.0,1883907.0,27316.68,15.8,29.0,12.0,0.0,291536.0,481558.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21425,260986.0,7250.0,807690.0,21740.37,29.7,3.0,14.0,0.0,243637.0,517638.0,...,0,0,0,0,0,0,0,0,0,0
77290,224840.0,740.0,776720.0,17734.98,14.9,13.0,5.0,0.0,75202.0,132748.0,...,0,0,0,0,0,0,0,0,0,0
24289,671088.0,720.0,2163758.0,25965.02,27.6,30.0,22.0,0.0,511537.0,1239128.0,...,0,0,0,0,0,0,0,0,0,0
37635,368720.0,730.0,1137264.0,11543.26,16.5,37.0,9.0,0.0,390773.0,1072192.0,...,0,0,0,0,0,0,0,0,0,0
93867,478852.0,726.0,865070.0,12759.83,19.8,52.0,18.0,0.0,379183.0,944218.0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
logiRe = LogisticRegression()
logiRe.fit(X_train,y_train)
logiRe.score(X_test,y_test)

1.0