In [42]:
import sys
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv('IBM/train_ctrUa4K.csv')
columnNames = pd.Series(df.columns.values) # to check the columns/variables/features present in our data set
# xóa những trường thiếu giá trị
df.dropna(axis=0, how='any', inplace=True)
df = df.drop(['Loan_ID'], axis=1)

In [43]:
# theem hangf vaof ddau banrg

# df_input = pd.DataFrame([['Male','Yes',1,'Graduate','No',4583,1508.0,128.0,360.0,1.0,'Rural','N']], 
# columns=['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status'])


Gender = 'Male'
Married = 'Yes'
Dependents = 1
Education= 'Graduate'
Self_Employed='No'
ApplicantIncome= 4583
CoapplicantIncome=1508.0
LoanAmount=128.0
Loan_Amount_Term=360.0
Credit_History=1.0
Property_Area='Rural'
Loan_Status='N'


df.loc[len(df.index)] = [Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status] 
  
display(df)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [44]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [45]:
df = pd.get_dummies(df,drop_first=True)
display(df.loc[len(df.index)])

ApplicantIncome            4583.0
CoapplicantIncome          1508.0
LoanAmount                  128.0
Loan_Amount_Term            360.0
Credit_History                1.0
Gender_Male                   1.0
Married_Yes                   1.0
Dependents_0                  0.0
Dependents_1                  0.0
Dependents_2                  0.0
Dependents_3+                 0.0
Education_Not Graduate        0.0
Self_Employed_Yes             0.0
Property_Area_Semiurban       0.0
Property_Area_Urban           0.0
Loan_Status_Y                 0.0
Name: 480, dtype: float64

In [46]:
mau_test = df.loc[len(df.index)]
mau_test = pd.DataFrame(mau_test)
mau_test = mau_test.transpose()
display('mautest')
# mau_test[13]

# display(0,len(df.index))
mau_test = mau_test.drop(['Loan_Status_Y'],axis=1)
display(mau_test)

# df[1,len(df.index)]
display(df.loc[len(df.index)])
df = df.drop(len(df.index))
display(df.index)
# display(df.loc[len(df.index)-1])

# display(mau_test.dtypes)
# display(mau_test.drop(['Loan_Status_Y'],axis=1))
# df = df.drop(['Loan_Status_Y'], axis=1)
# display()
# display(df.dtypes)

# xem hangf cuoi cuar bang
# display(df.loc[len(df.index)-1 : len(df.index)])

'mautest'

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
480,4583.0,1508.0,128.0,360.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ApplicantIncome            4583.0
CoapplicantIncome          1508.0
LoanAmount                  128.0
Loan_Amount_Term            360.0
Credit_History                1.0
Gender_Male                   1.0
Married_Yes                   1.0
Dependents_0                  0.0
Dependents_1                  0.0
Dependents_2                  0.0
Dependents_3+                 0.0
Education_Not Graduate        0.0
Self_Employed_Yes             0.0
Property_Area_Semiurban       0.0
Property_Area_Urban           0.0
Loan_Status_Y                 0.0
Name: 480, dtype: float64

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            603, 604, 606, 607, 608, 609, 610, 611, 612, 613],
           dtype='int64', length=479)

In [54]:
df.index
df.loc[len(df.index)]

KeyError: 479

In [47]:
x_test = df.drop('Loan_Status_Y', axis=1)
x_train = x_test
y_test = df['Loan_Status_Y']
y_train = y_test
y_test.isnull().sum()
# logiRe.score(x_test, y_test)

0

In [48]:
logiRe = LogisticRegression()
logiRe.fit(x_train,y_train)
logiRe.score(x_test,y_test)

0.8204592901878914

In [49]:

# print(logiRe.predict(x_test))
display(x_test)
display(len(mau_test))
display(mau_test)
# logiRe.predict(x_test).size
logiRe.predict(mau_test)

# df['test'] = pd.DataFrame(logiRe.predict(x_test))
# df

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
1,4583,1508.0,128.0,360.0,1.0,1,1,0,1,0,0,0,0,0,0
2,3000,0.0,66.0,360.0,1.0,1,1,1,0,0,0,0,1,0,1
3,2583,2358.0,120.0,360.0,1.0,1,1,1,0,0,0,1,0,0,1
4,6000,0.0,141.0,360.0,1.0,1,0,1,0,0,0,0,0,0,1
5,5417,4196.0,267.0,360.0,1.0,1,1,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0,0,0,1,0,0,0,0,0,0,0
610,4106,0.0,40.0,180.0,1.0,1,1,0,0,0,1,0,0,0,0
611,8072,240.0,253.0,360.0,1.0,1,1,0,1,0,0,0,0,0,1
612,7583,0.0,187.0,360.0,1.0,1,1,0,0,1,0,0,0,0,1
613,4583,0.0,133.0,360.0,0.0,0,0,1,0,0,0,0,1,1,0

1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
480,4583.0,1508.0,128.0,360.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

array([1], dtype=uint8)

In [50]:
MissingData=df.isnull().sum().rename_axis('Variables').reset_index(name='Missing Values') # the isnull() returns 1 if the value is null
# the isnull () trả về 1 nếu giá trị là null
MissingData

                  Variables  Missing Values
0           ApplicantIncome               0
1         CoapplicantIncome               0
2                LoanAmount               0
3          Loan_Amount_Term               0
4            Credit_History               0
5               Gender_Male               0
6               Married_Yes               0
7              Dependents_0               0
8              Dependents_1               0
9              Dependents_2               0
10            Dependents_3+               0
11   Education_Not Graduate               0
12        Self_Employed_Yes               0
13  Property_Area_Semiurban               0
14      Property_Area_Urban               0
15            Loan_Status_Y               0